---
import { YouTube } from '@astro-community/astro-embed-youtube';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Πρωτάθλημα φέτος ο ΠΑΟΚ">
	<main>
		<YouTube id="iEwnmq3Ne-k" params="start=24&end=26&autoplay=1&loop=1" />
		<h1>Πρωτάθλημα φετος ο ΠΑΟΚ</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
